<nb-card size="giant">

  <nb-card-header>
    Room Images
    <button class="single-view-button"
            nbButton
            size="small"
            [appearance]="isSingleView ? 'filled' : 'outline'"
            (click)="isSingleView = true">
      <i class="nb-square"></i>
    </button>
    <button class="grid-view-button"
            nbButton
            size="small"
            [appearance]="isSingleView ? 'outline' : 'filled'"
            (click)="isSingleView = false">
      <nb-icon icon="grid" pack="eva"></nb-icon>
    </button>
  </nb-card-header>

  <div class="grid-container">

    <div class="single-view" *ngIf="isSingleView">
      <div class="camera single" [style.background-image]="'url(' + selectedCamera.source + ')'">
        <span class="camera-name">{{ selectedCamera.title }}</span>
      </div>
    </div>

    <div class="grid-view" *ngIf="!isSingleView">
      <div class="camera"
           *ngFor="let camera of cameras"
           [style.background-image]="'url(' + camera.source + ')'"
           (click)="selectCamera(camera)">
        <span class="camera-name">{{ camera.title }}</span>
      </div>
    </div>

  </div>

  <nb-card-footer>
    <nb-actions [size]="actionSize" fullWidth>
      <nb-action matRipple>
        <nb-icon icon="chevron-left-outline" pack="eva"></nb-icon>
        Previous
      </nb-action>
      <nb-action matRipple>
        <nb-icon icon="cloud-upload-outline" pack="eva"></nb-icon>
        Upload
      </nb-action>
      <nb-action matRipple>
        <nb-icon icon="trash-2-outline" pack="eva"></nb-icon>
        Delete
      </nb-action>
      <nb-action matRipple>
        Next
        <nb-icon icon="chevron-right-outline" pack="eva"></nb-icon>
    
      </nb-action>
    </nb-actions>
  </nb-card-footer>
</nb-card>
